<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Java Spring MVC Example</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>
<body>
<div th:if="${#httpServletRequest.remoteUser != null}">
    <p th:text="${'Hello, ' + #httpServletRequest.remoteUser + '!'}">
    </p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Log out"/>
    </form>
</div>
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<!--suppress JSUnresolvedVariable -->
<script language="JavaScript">
    (function ($) {
        var poll, schedule, processResponse;

        poll = function () {
            $.ajax({
                type: "POST",
                url: "/authorized",
                success: processResponse,
                complete: schedule
            })
        };
        schedule = function () {
            window.setTimeout(poll, 1000)
        };
        processResponse = function (data) {
            if (!data.authorized) {
                window.location.reload(true);
            }
        };
        schedule();
    }(jQuery));

</script>
</body>
</html>
