<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title tiles:fragment="title">Link a Device to a User - Spring MVC Example</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>
<body>
<div tiles:fragment="content">
    <form name="f" th:action="@{/link}" method="post">
        <fieldset>
            <legend>Link a Device to a User</legend>
            <label for="username">Username</label>
            <input id="username" type="text" name="username"/>
            <div class="form-actions">
                <button type="submit" class="btn">Link Device</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>
